<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="InterfazGrafica.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=DESKTOP-UJGJBG5;Initial Catalog=Northwind;User ID=usuarioDI;Password=1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>